@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #3C2DE0;
    --cor-secundaria: #F4F4F4;
    --cor-terciaria: #021942;
    --cor-h2: #021942;
    --cor-botao: #5AA4E0;
    --cor-borda: #2DE0BE;
    
    --font-primaria: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15%;
}

h2 {
    color: var(--cor-h2);
    font-size: 1.5rem;
}

a {
    text-decoration: None;
    text-align: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-botao);
    margin: 1rem;
    padding: 1rem;
    border: var(--cor-borda);
    border-radius: 5%;    
}

a:hover {
    color: var(--cor-botao);
    background-color: var(--cor-secundaria);
}

.aboutMe {
    max-width: 45%;
    font-size: 1.3rem;
}

.conectMe{
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
    font-size: 1.5rem;
}

.linkSocial{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1.5rem;
    }

#perfil{
    width: 20rem;
    border: #3C1DE0;
    border-style:solid;
    border-width: 0.20rem;
    border-radius: 50%;
}

@media screen and (max-width: 1250px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        padding: 5%;  
    }
    .aboutMe{
        max-width: 90%;
        font-size: 1.5rem;
    }
    .conectWithMe {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
    }
    .linkSocial{
        display: flex;
        flex-direction: row;
        margin: 0.25rem;
        padding: 0.5rem;
    }
    a {
        margin: 1rem;
        padding: 1rem 3rem;
    }
}


@media screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        padding: 5%;  
    }
    .aboutMe{
        max-width: 80%;
        font-size: 1.3rem;
    }
    .conectWithMe {
        max-width: 80%;
        padding-left: 0rem;
    }
     
}



